* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1e1e1e;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f7fa;
}

.container {
  width: 70%;
  margin: 0 auto; /* Center the container */
}
